#root {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
}
.about {
  border: 2px solid tomato;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}